.Wordpress {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
}


/* Post ---------------------------------------- */

.Post {
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0;
    -webkit-transition: opacity 1s;
}

@media (min-width: 800px) {
    .Post {
        font-size: 1.4em;
    }
}

.Post-content {
    padding: 1rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: hsl(0,0%, 20%);
}

.Post-image {
    display: block;
    width: 100%;
}

.Post-heading {
    font-family: "Bitter";
    font-size: 1.8em;
    font-weight: 400;
}

.Post-copy {
    line-height: 1.5em;
    font-size: .9em;
}

.Post-button.digit-Button {
    position: fixed;
    top: 2em;
    left: 0;
    font-size: 32px;
    font-family: "FontAwesome";
    border: none;
    color: hsl(0, 100%, 100%);
    margin: 0;
    padding: 1em;
    border-radius: 0;
    text-shadow: 0 0 1px hsl(0, 0%, 0%);
    height: auto;
    min-width: 0;
}

.Post-button.digit-Button:focus {
    box-shadow: none;
}

.Post-button.digit-Button.montage--active {
    color: hsla(0,0%,100%,.5);
    background: transparent;
}





/* Card ---------------------------------------- */

.Card {
    position: relative;
    width: 500px;
    height: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.Card.selected .Card-wrapper {
    -webkit-animation: displaycard 1.5s both normal;
}

@-webkit-keyframes displaycard {
    0% {
        -webkit-transform: none;
    }

    30% {
        -webkit-transform: translateX(500px);
        -webkit-animation-timing-function: ease-out;
    }

    60% {
        -webkit-transform: translateX(500px) translateY(100px) rotateY(190deg) rotateX(-4deg) translateZ(-500px);
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateX(500px) translateY(100px) rotateY(190deg) rotateX(-4deg) translateZ(-500px) scale3d(5,5,5);
    }
}

.Card-wrapper {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.Card-face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.Card-face--front {
    -webkit-transform-style: preserve-3d;
}

.Card-face--back {
    -webkit-transform: rotateY(180deg);
    background: hsl(0,0%, 95%);
}

.Card-image {
    width: 100%;
    height: 100%;
}

.Card-caption {
    position: absolute;
    width: 100%;
    background-color: rgba(25,25,25,0.8);
}

.Card-title {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    padding: 0 1.5em;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    color: white;
}
