.Wordpress {
    position: relative;
    flex: 1;
}


@-webkit-keyframes displaycard {
  0% {
    -webkit-transform: none;
  }
  
  30% {
    -webkit-transform: translateX(500px);
    -webkit-animation-timing-function: ease-out;
  }
  
  60% {
    -webkit-transform: translateX(500px) translateY(100px) rotateY(190deg) rotateX(-4deg) translateZ(-500px);
    -webkit-animation-timing-function: ease-in;
  }
  
  100% {
    -webkit-transform: translateX(500px) translateY(100px) rotateY(190deg) rotateX(-4deg) translateZ(-500px) scale3d(5,5,5);
  }
}

#blog-post {
  top: 0; left: 0; bottom: 0; right: 0;
  background: rgba(209,209,209,1);
  position: absolute;
  opacity: 0;

  -webkit-transition: opacity 1s;
}

#blog-post .content {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#blog-post .postHeading {
  font-family: "Bitter";
}

#blog-post .postContent {
  line-height: 1.5em;
  text-align: justify;
}

#blog-post .postButton {
  font-size: 32px;
  font-family: "FontAwesome";
  display: inline-block;
  background: none;
  border: none;
  color: black;

  margin: 0;
  padding: 0;
}

#blog-post .postImage {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

.container {
  position: relative;

  width: 500px;
  height: 500px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.container .card {
  position: absolute;
  -webkit-transform-style: preserve-3d;

  width: 100%;
  height: 100%;
}

.container .card .face {
  width: 100%;
  height: 100%;

  display: block;
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.container .card .front {
  -webkit-transform-style: preserve-3d;
}

.container .card .back {
  -webkit-transform: rotateY(180deg);
  background: rgba(209,209,209,1);
}

.image {
    width: 100%;
    height: 100%;
}

.caption {
    position: fixed;
    background-color: rgba(25,25,25,0.8);
    width: 500px;
}

.caption p {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 1.2px;
    font-size: 22px;
    color: white;
}

.container.selected .card {
  -webkit-animation: displaycard 1.5s both normal;
}
