.Main {
    height: 100%;
}

/* Flow ---------------------------------------- */

.Flow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Flow-item {
    position: relative;
    width: 500px;
    height: 500px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.Flow-item-wrapper {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    background-color: black;
}

.Flow-item.selected .Flow-item-wrapper {
    background-color: transparent;
    -webkit-animation: displaycard 1.5s both normal;
}

@-webkit-keyframes displaycard {
    0% {
        -webkit-transform: none;
    }

    30% {
        -webkit-transform: translateX(200px);
        -webkit-animation-timing-function: ease-out;
    }

    60% {
        -webkit-transform: translateX(100px) rotateY(181deg) translateZ(-400px);
        -webkit-animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateX(0px) rotateY(181deg) translateZ(-500px) scale3d(5,5,5);
    }
}

/* Post -------------------------------------------------------------------- */

.Main .Post {
    opacity: 0;
    z-index: 0;
}

.Main .Post--revealed {
    opacity: 1;
    z-index: 15;
    -webkit-transition: opacity 1000ms;
    -webkit-transition-delay: 1200ms;
}
