
/* 
 * This file is reserved for your global style rules. 
 */

html {
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
    
    font-family: Open Sans, sans-serif;
    color: #aaa;
    background-color: #151515;
}

body {
    margin: 0; /* Remove default margin */
}

