
/* 
 * This file is reserved for your global style rules. 
 */

html {
    /* Prevent iOS text size adjust after orientation change, without disabling user zoom. */
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font-family: Open Sans, sans-serif;
    font-size: 16px; /* Spacing of components */
    color: #fff;
    fill: currentColor;
    background-color: #151515;
}

body {
    height: 100%;
    margin: 0; /* Remove default margin */
    font-size: 16px; /* Sizing of components */
}


/* 
* Global overrides 
*/

.digit-Button .fa {
    margin-left: .5em;
}